/***fix****/
header img{
	width: 100%;
}
body{
	font-family: Arial, sans-serif;
}
header{
	font-family: Helvetica, arial, sans-serif;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
footer{
	background-color: #00439c;
	color: white;
}
/***header-top****/

.ms_upgrade-banner{
	position: fixed;
	top: 0;
	right: 0;
	height: 75px;
	width: 100%;	
}
.ms_header-top{
	background-color: black;
	padding: 0.6rem;
	display: flex;
	justify-content: end;
}
.ms_logo{
	width: 100px;		
}

/****header-bottom****/
.ms_header-bottom{
	padding: 15px 10px;
}
.ms_menu-small{
	display: flex;
	justify-content: space-between;
}
.ms_hamburger{
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 5px 15px;
	font-size:20px;
	margin: 5px;
}
.ms_lyst-menu{
	display: none;
}
/***header 992px****/
@media screen and (min-width: 992px){
	.ms_menu-small{
		display: none;
	}
	.ms_lyst-menu{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.ms_lyst{
		margin-left: 10px;	
		display: flex;
		align-items: center;
	}
	.ms_lyst ul{
		display: flex;
	}
	.ms_lyst li{
		margin-left:1rem;
	}
	.ms_img-container{
		width: 10px;
		margin-left: 5px;
	}
	.ms_lyst a{
		display: flex;	
		color: black;
	}
	.ms_ricerca-menu ul{
		display: flex;	
		align-items: center;
	}
	.ms_ricerca-menu a{
		color: black;
	}
	.ms_lente{
		width: 20px;
		margin-left: 5px;
	}
}

/**main***/
main img{
	width: 100%;
}
main a{
	color: white;
}
.ms_container-jum{
	margin-top: 150px;
	padding-top: 200px;
	color: white;
	background-image: url('../img/jumbo-bg.png');
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
}
.ms_margin-jumb-cont{
	margin-bottom: 2rem;
	margin-left: 1rem;
}
.ms_bottone-orange{
	margin-bottom: 2rem;
}
.ms_font{
	font-size: 1rem;
}
.ms_img-jumb{
	width: 200px;
}

.ms_container-colonne{
	text-align: center;
}
.ms_card{
	margin-top: 3rem;
	width: 100%;
}
.ms_card img{
	border: 1px solid;
	border-radius: 20px;
}
.ms_border-blu{
	border: 1px solid blue;
	border-radius: 20px;
	padding: 1px
}
/**sezione ps***/
.ms_presentazione-testo{
	text-align: center;
	margin-top: 100px;
}
.ms_presentazione-testo p{
	margin: 0;
}
.ms_blue{
	color: lightblue;
}
.ms_grey{
	color: lightgray;
	font-size: 1rem;
}
.ms_accessories{
	text-align: center;
	margin-top: 50px;
}
.ms_product-play{
	text-align: center;
}
/*****it-take*****/
.ms_it-take{
	background-color: #1f1f1f;
	color: white;
}
.ms_container-jum-it-take{
	margin-top: 50px;
	color: white;
	background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
}
.ms_margin-jumb-cont{
	margin-bottom: 2rem;
	margin-left: 1rem;
}
.ms_cra-game{
	text-align: center;
}
.ms_crash-t{
 padding-left: 20%;
}
.ms_img-it-card img{
	border: 1px solid;
	border-radius: 20px;
}
/*****ps4*****/
.ms_ps4-section{
	margin-top: 50px;
}
.ms_ps4-section p{
 color:#1f1f1f; 
}
.ms_ps4-txt{
	text-align: center;
}
.ms_product-ps4{
	text-align: center;
}
.ms_ps4-txt-col{
	text-align: left;
}
/****ps-plus*****/
.ms_ps-plus{
	padding: 40px;
	background-color: #bebcbb;
	margin-top: 100px;
}
.ms_plus-margin{
	margin-left: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.ms_ps-plus-img{
 width: 200px;
 margin-bottom: 25px;
}
.ms_display{
	display: none;
}
.ms_souls-storm{
	width: 50%;
	display: none;
}
/**area sconti***/
.ms_sconti{
	margin-top: 50px;
}
.ms_tx-area-sconti{
	padding: 20px;
	text-align: center;
}
.ms_vari-sconti{
	text-align: center;
}.ms_card-sconti{
	padding: 5%;
}
/**now**/
.ms_ps-now {
    background-color: #161c3b;
    margin-top: 60px;
	color: white;
	padding: 50px;
}
/**social**/

.ms_social{
	text-align: center;
	margin-top: 50px;
}
.ms_social-txt{
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
}
.ms_social-card{
	margin-bottom: 1rem;
}
/*****footer***/
.ms_logo-footer{
	width: 150px;
}
footer a{
	color: white;
}
footer li{
	text-decoration: none;
}
.ms_sony-log{
	width: 80px;
}
footer{
	margin-top: 80px;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 1rem ;
	padding-right: 1rem;
}

.ms_footer-section-one{
	margin-bottom: 40px;
}
.ms_footer-section-one img{
	margin-bottom: 20px;
}
.ms_container-list-footer{
	margin-bottom: 40px;
}
.ms_container-list-footer li{
	margin-bottom: 10px;
}
.ms_sony-log{
	margin-bottom: 10px;
}
/***main 768****/
@media screen and (min-width: 768px){
	.ms_txt-correction{
	width: 80%;
	}
	.ms_i-playstation{
		width: 50%;
	}
	.ms_accessories{
		text-align: justify;
	}
	.ms_position-fix{
		position: relative;
	}
	.ms_t-playstation{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.ms_crash-t{
	 padding-left: 12%;
	}
	.ms_correction-card{
		width: 100%;
	}

	.ms_social-card{
		
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.ms_social-flex-item{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.ms_social-vari{
		width: 50%;
		
	}
	/**footer***/
	.ms_container-list-footer{
		display: flex;
		justify-content: space-around;
	}
	}

/****main-992px***/

@media screen and (min-width: 992px){
	.ms_txt-correction{
	width: 30%;
	}
	.ms_crash-t{
	 padding-left: 5%;
	}
	.ms_ps-plus{
		padding: 0px;
		display: flex;
		align-items: center;
	}
	.ms_souls-storm{
		display: block;
		margin-left:180px;
	}
	.ms_ps-now{
		display: flex;
		align-items: center;
	}
	/***footer***/
	.ms_footer-container{
		display: flex;	
		
	}
	.ms_footer-section-one{
		width: 50%;
		margin-left: 40px;
	}
	.ms_container-list-footer{
		width: 50%;
		display: flex;
		justify-content: space-between;
		margin-right: 50px;
		
	}
	.ms_brend-description{
		width: 60%;
	}
}


/******bottoni***********************/
.ms_bottone-nero{
	padding: 8px 10px;
	border: 1px solid #363636;
	background-color: #363636;
	color: white;
	border-radius: 20px;
	display: inline-block;
	font-weight: 600;
	font-size: 12px;
}

.ms_bottone-orange{

	padding: 6px 8px;
	border: 1px solid #cd3d0f;
	background-color: #cd3d0f;
	color: white;
	border-radius: 20px;
	display: inline-block;
	font-weight: 600;
	font-size: 12px;
}

.ms_bottone-blue{

	padding: 6px 8px;
	border: 1px solid #2d64e6;
	background-color: #2d64e6;
	color: white;
	border-radius: 20px;
	display: inline-block;
	font-weight: 600;
	font-size: 12px;
}

.ms_bottone-grey{
	padding: 6px 8px;
	border: 1px solid #d9dadc;
	background-color: #d9dadc;
	color: #2d64e6;
	border-radius: 20px;
	display: inline-block;
	font-weight: 600;
	font-size: 12px;
}
.ms_bottone-grey-black{
	padding: 6px 8px;
	border: 1px solid #d9dadc;
	background-color: #d9dadc;
	color: black;
	border-radius: 20px;
	display: inline-block;
	font-weight: 600;
	font-size: 12px;
}
.ms_card:hover{
	border: 1px solid blue;
	border-radius: 20px;
	padding: 1px
}
.ms_bottone-orange:hover{
	border: 3px solid orangered;	
}

.ms_bottone-grey-black:hover{
	border: 3px solid black;
}
.ms_bottone-nero:hover{
	border: 3px solid black;
}